*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

mono_crash.*

.vscode/

.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/vcs.xml
.idea/**/jsLinters/**/state.json
.idea/**/assetWizardDependencies.xml
.idea/**/caches/build_file_checksums.ser
.idea/**/DataGrip_sqliteDatabases.xml
.idea/**/DataGrip_sqliteDatabases.xml

mono_crash.*

*.Designer.cs

Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

.vscode/
.history/

.idea/
.idea_modules/

node_modules/

.DOTNET/

*.cab
*.msi
*.msm
*.msp

*.lnk

*.bak
*.swp

*.jar
*.war
*.ear
*.app
*.hpi

*.log

.env

.vs/
.vscode/
.idea/
_ReSharper.Caches/
.git/
*.app/
*.bak/
*.bin
*.cache/
*.config
*.csproj.user
*.dbmdl/
*.dir/
*.filters
*.ipch/
*.log
*.ncb
*.obj/
*.opensdf
*.pdb
*.pri
*.res/
*.sdf
*.sln
*.sou
*.sql/
*.sqlite/
*.tlog/
*.userosscache
*.userprefs
*.user
*.vs/
*.vspscc
*.vssscc
*.wixobj/
*.wixpdb/
*.yaml
*.yml
.hgtags
.settings/
[Tt]est[Rr]esult*/
[Tt]est[Rr]esult*/**/TestRun*.trx
.vscode/
_ReSharper.Caches/
*_i.c
*_p.c
*~
.idea/
.obj/
.run/
.sass-cache/
.vscode/
node_modules/
node_modules/*
